/* font-family: 'Inter', sans-serif;(Regular 400, Medium 500, SemiBold 600, Bold 700) */

@import url(../css/reset.css);

body{
  background-color: #F5F9FF;
  font-family: 'Inter', sans-serif;
}
.content{
  padding: 47px 135px 47px;
}
.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubox{
  display: flex;
}
.menu-item{
  font-size: 16px;
  color: #535E70;
  font-weight: 400;
  margin-left: 45px;
}
.menu-item-home{
  font-weight: 600;
  color: #212831;
}
.menu-item:hover{
  color: #1750a4;
}

.header_logo{
  font-size: 28px;
  font-weight: 600;
  color: #212831;
}
#menu-toggle{
  opacity: 0;
}
/* -------search------ */
* {box-sizing: border-box;}
form {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 25px;
}
.header_search{
  color: #535E70;
  font-size: 16px;
  height: 30px;
  width: 0;
  padding: 0 25px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: .5s;
}
.header_search:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 2px solid #113873;
}
.header_search--btn {
  background: #F5F9FF;
  border: none;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header_search--btn:before {
  content: "";
  font-size: 16px;
  color: #F9F0DA;
}
@media(max-width:1110px){
  .content{
    padding: 35px 50px 35px;
  }
}
/* ------menu-burger------- */
@media(max-width:950px){
  form{
    display: none;
  }
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right:50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -6px;
  }
  .menu-btn > span::after {
    content: '';
    top: 6px;
  }
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 240px;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #535E70;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item-home{
    font-weight: 600;
    color: #212831;
  }
  .menu-item:hover {
    background-color: #CFD8DC;
  }
  #menu-toggle{
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }
}
@media(max-width:480px){
  .header_logo{
    font-size: 20px;
  }
  .content{
    padding: 12px 40px 25px;
  }
  .menu-btn{
    top: 14px;
    right: 20px;
  }
}
/* ---------------section------------- */
.section_content {
  display: flex;
  margin-top: 59px;
  justify-content: space-between;
}
.section_titel {
  max-width: 490px;
  color: #212831;
  font-size: 70px;
  font-weight: 700;
  line-height: 86px;
  margin-bottom: 47px;
}
.section_paragraph {
  max-width: 460px;
  color: #535E70;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 55px;
}
.section_buttoms{
  display: flex;
}
.section_button-blue {
  width: 198px;
  height: 58px;
  background-color: #195AFF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  margin-right: 20px;
}
.section_button-blue > img {
  margin-left: 11px;
}
.section_buttoms-red {
  display: flex;
  align-items: center;
}
.section_buttoms-red > p{
  margin-left: 15px;
  color: #113873;
  font-size: 14px;
  font-weight: 600;
}
.section_object {
  margin-right: 140px;
}

.section_big_cart--img > img {
  border-radius: 16px;
  margin-bottom: 45px;
}
.section_cart_men {
  display: flex;
}
.section_cart_photo > img {
  border-radius: 6px;
  margin-right: 23px;
}
.section_cart--name {
  color: #212831;
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 13px;
}
.section_cart--text {
  color: #535E70;
  font-size: 14px;
  line-height: 20px;

}
@media(max-width:1350px){
  .section_object {
    margin-right: 50px;
  }
}
@media(max-width:1250px){
  .section_object {
    margin-right: 0;
  }
}
@media(max-width:950px){
  
  .section_object {
    margin-top: 50px;
  }
  .section_content {
    display: block;
    margin-top: 40px;
  }
}
@media(max-width:580px){
  .section_titel {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 40px;
  }
  .section_paragraph {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}
@media(max-width:530px){
  .section_buttoms {
    display: block;
  }
  .section_button-blue{
    margin-bottom: 20px;
  }
  .section_buttoms-red{
    align-items: center;
  }
}
@media(max-width:480px){
  .content{
    padding: 16px 20px 14px;
  }
  .section_titel{
    font-size: 37px;
    line-height: 50px;
  }
  .section_big_cart--img > img{
    width: 232px;
  }
  .section_cart_photo > img{
    width: 50px;
  }
  .section_cart--name{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  .section_cart--text{
    font-size: 12px;
    line-height: 15px;
  }
}
/* ---------------------------- */
.section_choice_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.section_choice-text {
  font-size: 27px;
  font-weight: 700;
}
.section_btn-left {
  background-color: #F5F9FF;
}
.section_btn-right {
  margin-left: 42px;
}
.section_content--corts {
  display: flex;
  width: 100%;
  height: 200px;
}
.section_content--cort {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 166px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px 35px 15px 35px;
  margin-right: 42px;
}
.section_cort--titel {
  font-weight: 600;
  font-size: 25px;
  color: #212831;
  margin-top: 23px;
  margin-bottom: 20px;
}
.section_cort--text {
  font-size: 16px;
  color: #535E70;
}

@media(max-width:1360px){
  .section_content--corts {
    display: flex;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    white-space: nowrap;
  } 
} 
@media(max-width:550px){
  .section_choice-text {
    font-size: 18px;
  }
  .section_btn-right {
    margin-left: 20px;
  }
  .section_cort--titel{
    font-size: 14px;
    margin-left: 26px;
  }
  .section_cort--text{
    font-size: 12px;
    margin-left: 26px;
  }
  .section_content--cort {
    width: 280px;
    height: 128px;
    padding: 0;
    margin-right: 30px;
  }
  .section_cort--img{
    width: 93px;
    height: 97px;
    margin: 12px 20px 12px 20px;
  }
}
@media(max-width:360px){
  .section_choice_btn > img{
    width: 30px;
    height: 30px;
  }
  .section_btn-left > img{
    width: 30px;
    height: 30px;
  }
  .section_btn-right > img{
    width: 30px;
    height: 30px;
  }
  .section_choice-text {
    font-size: 18px;
  }
  .section_btn-right {
    margin-left: 15px;
  }
}